@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2 style="text-align: center">Fetching Videos By API</h2>

    <div>
        <button type="button" id="btn-click">Get Video</button>

        <div id="show-data">

        </div>

    </div>

    <span id="show-video1">
    </span>

    <div id="show-title"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="~/Scripts/Custom.js"></script>

</body>
</html>
